<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-family: sans-serif;
        }
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>{{ name|upper }}</h1>
    {% if name %}
        <h2>Добро пожаловать, {{ name|upper }}!</h2>
    {% else %}
        <h2>Добро пожаловать!</h2>
    {% endif %}

    <h2>Список сотрудников:</h2>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Должность</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.position }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>